.Rproj.user
.Rhistory
.RData
.Ruserdata

_dross

CRAN-RELEASE
!.gitignore
inst/doc

# I hate that JabRef does this.
data-raw/bib/ps_bib.bib.bak

# just in case this starts becoming too much of a chore, especially for informal testing.
inst/extdata/*.rds
