exportPattern("^[[:alpha:]]+")

import(dplyr)
import(stringr)
import(geosphere)
import(stringr)
# import(lubridate) # changed on 5 October 2021
import(tidyr)
# import(bib2df)
import(purrr)

importFrom(magrittr,"%>%")
importFrom(rlang, .data)
importFrom(stevemisc, ps_btscs)
importFrom(stevemisc, "%nin%")
importFrom(stevemisc, ps_spells)
importFrom(stats, "sd")
