

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400');


body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 11.5pt;
	line-height: 1.5;
	font-weight: 300;
	color: #111111;
}

.ref-index p {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 11.5pt;
	line-height: 1.5;
	font-weight: 300;
	color: #111111;
}

.template-reference-index th p  {
  font-style: italic;
  padding: 2px;
}

.template-reference-index tbody:after {
  content: '';
  display: block;
  height: 15px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Titillium Web', serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.1;
}

code {
  padding: 1px;
  background-color: #fff;
  font-family: 'Fira Code', monospace;
}


/* Updates with boot 5 */

.navbar-brand {
  font-family: 'Titillium Web', serif;
  font-weight: bold;
  padding: 0.2em 0.3em 0.3em;
  color: #fff;
}

.navbar-brand:hover {
    color: #fff;
    background: rgba(0,0,0,0.1);
}

.nav-item > .nav-link {
  color: #fff;
}

nav .text-muted {
    color: #ffffff !important;
    font-weight: bold;
    padding: 0.2em 0.6em 0.3em;
    background: #999;
    border-radius: 5px;
}

.nav-item > .nav-link:hover {
    color: #fff;
    background: rgba(0,0,0,0.1);
}

.dropdown-menu {
    font-size: .85rem;
}


.navbar-light .navbar-nav .active > .nav-link {
    color: #fff;
    background: rgba(0,0,0,0.1);
}
